<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Log in - HMDP</title>
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/login.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <div class="login-container">
    <div class="header">
      <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
      <div class="header-title">Phone login</div>
    </div>
    <div class="content">
      <div class="login-form">
        <div style="display: flex; justify-content: space-between">
          <el-input style="width: 60%" placeholder="Phone number" v-model="form.phone"></el-input>
          <el-button style="width: 38%" @click="sendCode" type="success" :disabled="disabled">{{codeBtnMsg}}</el-button>
        </div>
        <div style="height: 5px"></div>
        <el-input placeholder="Verification code" v-model="form.code"></el-input>
        <div style="text-align: center; color: #8c939d;margin: 5px 0">New numbers will be registered automatically</div>
        <el-button @click="login" style="width: 100%; background-color:#f63; color: #fff;">Log in</el-button>
      </div>
      <div class="login-radio">
        <div>
          <input type="radio" id="readed" name="readed" v-model="radio" value="1">
          <label for="readed"></label>
        </div>
        <div @click="radio = '1'" style="cursor: pointer;">
          I agree to the Terms of Service and Privacy Policy
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script>
  new Vue({
    el: "#app",
    data: {
      radio: "",
      disabled: false,
      codeBtnMsg: "Send code",
      form: {}
    },
    methods: {
      login() {
        if (!this.radio) {
          this.$message.error("Please accept the terms first");
          return;
        }
        if (!this.form.phone || !this.form.code) {
          this.$message.error("Phone and verification code are required");
          return;
        }
        axios.post("/user/login", this.form)
          .then(({ data }) => {
            if (data) {
              sessionStorage.setItem("token", data);
            }
            location.href = "/seckill.html";
          })
          .catch(err => this.$message.error(err));
      },
      goBack() {
        history.back();
      },
      sendCode() {
        if (!this.form.phone) {
          this.$message.error("Phone number is required");
          return;
        }
        axios.post("/user/code?phone=" + this.form.phone)
          .then(({ data }) => {
            console.log("[HMDP] Verification code:", data);
            this.form.code = data;
            this.$message.success("Code sent. Check the browser console (F12).");
          })
          .catch(err => this.$message.error(err));
        this.disabled = true;
        let i = 60;
        this.codeBtnMsg = i + 's';
        let taskId = setInterval(() => {
          i--;
          this.codeBtnMsg = i + 's';
        }, 1000);
        setTimeout(() => {
          this.disabled = false;
          clearInterval(taskId);
          this.codeBtnMsg = "Send code";
        }, 59000);
      }
    }
  });
</script>
</body>
</html>
